*.sw*
.netrwhis*
.node_repl_history
.DS_Store

bundle/perl-support/doc/tags
bundle/ctrlp/doc/tags
./bundle/perl-support/doc/tags/*
./bundle/perl-support/doc/tags-te/*
.cpan
[0-9].pl
[0-9][0-9].pl
[0-9].sh
[0-9][0-9].sh

.npm
.devcontainer
.vscode-remote-containers
.vscode-server
perl5

